<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Picto</title>
  </head>
  <body>
    <div class="main-container">
      <nav class="navbar">
        <div class="navbar-left">Picto</div>
        <!-- <div class="navbar-right">
          <button class="nav-button secondary-btn" (click)="toggleLogin()">
            Login
          </button>
          <button class="nav-button" (click)="toggleSignUp()">Sign Up</button>
        </div> -->
      </nav>
      <!-- <app-login
        *ngIf="showLogin"
        (closeLogin)="closeForms()"
        [ngClass]="{ marginForm: showLogin }"
      ></app-login>
      <app-sign-up
        *ngIf="showSignUp"
        (closeLogin)="closeForms()"
        [ngClass]="{ marginForm: showSignUp }"
      ></app-sign-up> -->
      <div class="inquiry" [ngClass]="{ hidden: showLogin || showSignUp }">
        <app-message-container [messages]="messages"></app-message-container>
        <div class="input-container">
          <input
            type="text"
            [(ngModel)]="messageText"
            (keypress)="onKeyPress($event)"
            placeholder="Type your message here..."
          />
          <button (click)="sendMessage()">Send</button>
        </div>
      </div>
    </div>
  </body>
</html>
